.left{
    float: left;
    width: 10%;height:100%;
    background-color: white;
    border: solid 1px rgba(88, 131, 182, 0.19);

}
.right{
    float: left;width: 90%;
    height: auto;
    background-color: white;
    border: solid 1px #9ca7b6;
}
.tabletop{
    background-color: rgba(120, 128, 255, 0.49);
    border-radius: 2px;
}
.select{
    margin: 5px;

}
.hover:hover{
    color: red;
    content: "编辑";
    visibility: visible;
}


.second-side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #434874;
  z-index: 100;
  opacity: 0.6;
}


.input_floors {
  border-radius: 5px;
  z-index: 110;
  background-color: rgb(55, 90, 145);
  width: 500px;
  height: 400px;
  position: absolute;
  bottom: 60%;
  top: 40%;
  right: 60%;
  left: 40%;
  padding-top: 50px;
  padding-right: 150px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.editing{
    background-color: red !important;
}