.left{
    float: left;
    width: 20%;height:600px;
    background-color: white;
    border: solid 1px rgba(88, 131, 182, 0.19);

}
.right{
    float: left;width: 80%;
    height: 600px;
    background-color: white;
    border: solid 1px #9ca7b6;
}
.tabletop{
    background-color: rgba(120, 128, 255, 0.49);
    border-radius: 2px;
}
.select{
    margin: 5px;

}
.hover:hover{
    color: red;
    content: "编辑";
    visibility: visible;
}


.second-side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #434874;
  z-index: 100;
  opacity: 0.35;
}


.input_floors {
  z-index: 110;
  background-color: rgb(55, 90, 145);
  width: 260px;
  height: 320px;
  position: absolute;
  bottom: 60%;
  top: 40%;
  right: 50%;
  left: 50%;
  padding: 20px;
}