<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>老男孩运维管理系统</title>
    <link href="/static/css/commons.css" rel="stylesheet" />
    <link href="/static/css/manager.css" rel="stylesheet" />
    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="up " style="border: solid 1px #9ca7b6">
            <a href="http://www.etiantian.org" target="_blank"><img src="/static/img/logo_03.png" /></a>
        </div>
        <div class="left">
            <ul class="nav nav-pills nav-stacked">

                <li role="presentation" class="active">
                    <a href="#">
                        <span  class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                        &nbsp;&nbsp;主机管理
                    </a>
                </li>
                <li role="presentation" >

                    <a href="#">
                        <span  class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        &nbsp;&nbsp;用户管理
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        &nbsp;&nbsp;监控管理
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span  class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        &nbsp;&nbsp;消息中心
                    </a>
                </li>

            </ul>
        </div>

        <div class="right">
            <!--透明层-->
            <div class="second-side hide" >透明层</div>
            <div id ="hosts_m" class=""  >
                <div class="select " >
                    <input onclick="addMode()" class="btn btn-success" type="button" value="添加" />
                    <input onclick="SelectAll();" class="btn btn-success" type="button" value="全选" />
                    <input onclick="SelectNo();" class="btn btn-success" type="button" value="全不选" />
                    <input onclick="SelectSide();" class="btn btn-success" type="button" value="反选" />
                    <input onclick="editMode(this);" class="btn btn-success" type="button" value="编辑模式" />
                    <input onclick="Save(this);" class="btn btn-success" type="button" value="保存" />
                    <input  class="btn btn-danger" type="button" value="删除" />
                </div>
                <div class="tabletop ">
                    <table border="0" class="table table-bordered table-hover active" >
                        <thead>
                            <tr style="background-color: #0095cd">
                                <th>选择</th>
                                <th>主机名</th>
                                <th>ip</th>
                                <th>端口</th>
                                <th>CPU</th>
                                <th>内存</th>
                                <th>硬盘</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input name="line1" type="checkbox" /></td>
                                <td>host1.oldboy.me</td>
                                <td>10.10.1.100</td>
                                <td>33</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="line2" type="checkbox" />
                                </td>
                                <td>host2.oldboy.me</td>
                                <td>10.10.1.101</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>

                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>


                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>


                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>


                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>


                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>


                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>


                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>


                            <tr>
                                <td><input name="line3" type="checkbox" /></td>
                                <td>host3.oldboy.me</td>
                                <td>10.10.1.103</td>
                                <td>22</td>
                                <td>cpu</td>
                                <td>64G</td>
                                <td>500G</td>
                                <td>
                                    <select>
                                        <option selected="selected">online</option>
                                        <option>offline</option>
                                    </select>
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-edit hover" aria-hidden="true"></span>
                                    <span  class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </td>
                            </tr>





                        </tbody>
                    </table>
                </div>



            </div>
            <!--添加按钮弹出框-->
            <div>
                <form action="/manager/" method="post" id="add" class="input_floors hide">
                    <p style="text-align: right">主机名:<input type="text" name="hostname"></p>
                    <p style="text-align: right">IP地址:<input type="text" name="ip"></p>
                    <p style="text-align: right">端口号:<input type="text" name="port"></p>
                    <p style="text-align: right">CPU:<input type="text" name="cpu"></p>
                    <p style="text-align: right">内存:<input type="text" name="mem"></p>
                    <p style="text-align: right">硬盘:<input type="text" name="disk"></p>
                    <p style="text-align: right">状态:<input type="text" name="status"></p>
                    <div style="width: 400px; height: 10px ;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input  class="btn btn-success" type="submit"  value="保存" onclick="return saveRecord();">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="btn btn-success" type="button"  value="重置" onclick="cleaning();">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="btn btn-success" type="button"  value="取消" onclick="cancle(this);">
                    </div>
                </form>
            </div>
        </div>


    </div>
    <script src="/static/js/jquery-2.2.3.js"></script>
    <script src="/static/js/manager.js"></script>

</body>
</html>