<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>海淀图书城图书管理系统</title>
    <link href="/static/css/commons.css" rel="stylesheet" />
    <link href="/static/css/manager.css" rel="stylesheet" />
    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div >
        <div class="up " style="border: solid 1px #9ca7b6">
            <a href="http://www.etiantian.org" target="_blank"><img src="/static/img/logo_small.png" /></a>
        </div>
        <div class="left">
            <ul class="nav nav-pills nav-stacked">

                <li role="presentation" class="active">
                    <a href="#">
                        <span   class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        &nbsp;&nbsp;图书管理
                    </a>
                    <div  class="hide">
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span  class="glyphicon glyphicon-user nav-stacked">&nbsp;作者管理</span><br>
                        </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-print">&nbsp;出版社管理</span><br>
                        </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-book">&nbsp;图书管理</span>
                        </div>
                    </div>
                </li>

                <li role="presentation">
                    <a href="#">
                        <span  class="glyphicon glyphicon-plus " aria-hidden="true"></span>
                        &nbsp;&nbsp;用户管理
                    </a>
                    <div  class="hide">
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span  class="glyphicon glyphicon-user nav-stacked">&nbsp;用户管理</span><br>
                        </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-print">&nbsp;组管理</span><br>
                        </div>
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-book">&nbsp;权限管理</span>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
            {% block right %}
            {% endblock %}






    </div>
    <script src="/static/js/jquery-2.2.3.js"></script>
    <script src="/static/js/manager.js"></script>

</body>
</html>